{% extends 'main/base.html' %}
{% block content %}
<div class="container d-flex justify-content-center">
    <div class="col-8">
        <div class="card">
            <div class="card-header text-center">{{ services.title }}</div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-success" style="width: 100%;">Записаться</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}