{% extends 'main/base.html' %}
{% load my_tags %}
{% block content %}

    <div class="container marketing">
        <div class="row">
            {% for object in object_list %}
                <div class="col-lg-4">
                    <img src="{{ object.avatar | media_filter }}" alt="фото врача" width="360" height="550">
                    <h2>{{ object.last_name }} {{ object.first_name }} {{ object.middle_name }}</h2>
                    <p>{{ object.specialty }}</p>
                    <p><a class="btn btn-secondary" href="{% url 'main:doctors_detail' object.pk %}" role="button">Подробнее</a>
                    </p>
                </div><!-- /.col-lg-4 -->
            {% endfor %}
        </div><!-- /.row -->
    </div>

{% endblock %}