{% extends 'main/base.html' %}
{% load static %}
{% block content %}
    <div class="card mb-3">
        <img class="card-img-top" src="{% static 'home/about.jpg' %}">
        <div class="card-body">
            <h2 class="card-title">О компании</h2>
            <h5 class="card-title">История компании</h5>
            <p class="card-text">Наш медицинский центр был основан в 2010 году с целью предоставления высококачественных
                медицинских услуг в комфортной и дружелюбной обстановке. С тех пор мы выросли и расширили спектр своих
                услуг, объединяя передовые технологии и опытные кадры. Наша команда состоит из квалифицированных врачей
                и медицинских работников, которые постоянно повышают свою квалификацию и следят за последними
                достижениями в области медицины.</p>
        </div>
        <div class="card-body">
            <h5 class="card-title">Миссия и ценности</h5>
            <p class="card-text">Наша миссия — обеспечивать доступ к качественной медицинской помощи для каждого
                пациента, поддерживая его здоровье и благополучие на каждом этапе жизни. Мы стремимся создать атмосферу
                доверия и комфорта, где каждый пациент чувствует себя услышанным и важным.

                Наши ценности:
                - Качество: Мы гарантируем высокие стандарты медицинского обслуживания.
                - Человечность: Мы относимся к каждому пациенту с уважением и заботой.
                - Инновации: Мы внедряем современные технологии и методы лечения.
                - Командная работа: Мы работаем вместе, чтобы достичь наилучших результатов для наших пациентов.

                Мы гордимся тем, что можем быть частью здоровья и жизни наших пациентов!</p>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-header">
                Наши контакты
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">8(800)1002030</li>
                <li class="list-group-item">medecaldiag@mail.ru</li>
                <li class="list-group-item">Московская область, г.Подольск, ул.Ленина, д.10</li>
                <li class="list-group-item">
                   <img src="{% static 'icon/icon_odnoklassniki.png' %}" width="30" height="30"> 
                   <img src="{% static 'icon/icon_telegram.png' %}" width="30" height="30"> 
                   <img src="{% static 'icon/icon_vk.png' %}" width="30" height="30"> 
                </li>
            </ul>
        </div>
        </div>
{% endblock %}